<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.BankTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.pojo.BankTypeDO">
        <id column="id" property="id"/>
        <result column="bank_id" property="bankId"/>
        <result column="bank_type" property="bankType"/>
        <result column="bank_version" property="bankVersion"/>
        <result column="bank_delete" property="bankDelete"/>
        <association property="type" javaType="com.exam.pojo.TypeDO">
            <id column="type_id" property="typeId"/>
            <result column="type_name" property="typeName"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bank_id, bank_type, bank_version, bank_delete
    </sql>

    <select id="getListByBank" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        ,type_id, type_name
        from ex_bank_type
        inner join ex_type on bank_type = type_id
        where bank_id = #{value} and bank_delete = 1
    </select>

</mapper>
