<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.PaperConfigQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.pojo.PaperConfigQuestionDO">
        <id column="id" property="id" />
        <result column="question_config" property="questionConfig" />
        <result column="question_id" property="questionId" />
        <result column="question_version" property="questionVersion" />
        <result column="question_delete" property="questionDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, question_config, question_id, question_version, question_delete
    </sql>

</mapper>
