<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.PwdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.pojo.PwdDO">
        <id column="pwd_id" property="pwdId" />
        <result column="pwd_plaintext" property="pwdPlaintext" />
        <result column="pwd_ciphertext" property="pwdCiphertext" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pwd_id, pwd_plaintext, pwd_ciphertext
    </sql>

</mapper>
