<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.RoleAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.pojo.RoleAuthDO">
        <id column="ra_id" property="raId" />
        <result column="ra_role" property="raRole" />
        <result column="ra_auth" property="raAuth" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ra_id, ra_role, ra_auth
    </sql>

</mapper>
