<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.TeacherAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.pojo.TeacherAuthDO">
        <id column="ua_id" property="uaId" />
        <result column="ua_teacher" property="uaTeacher" />
        <result column="ua_auth" property="uaAuth" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ua_id, ua_teacher, ua_auth
    </sql>

</mapper>
