<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.TeacherRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.pojo.TeacherRoleDO">
        <id column="tr_id" property="trId" />
        <result column="tr_teacher" property="trTeacher" />
        <result column="tr_role" property="trRole" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tr_id, tr_teacher, tr_role
    </sql>

</mapper>
