<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.TrueFalseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.pojo.TrueFalseDO">
        <id column="tf_id" property="tfId" />
        <result column="tf_title" property="tfTitle" />
        <result column="tf_score" property="tfScore" />
        <result column="tf_difficulty" property="tfDifficulty" />
        <result column="tf_bank" property="tfBank" />
        <result column="tf_resolve" property="tfResolve" />
        <result column="tf_true" property="tfTrue" />
        <result column="tf_version" property="tfVersion" />
        <result column="tf_delete" property="tfDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tf_id, tf_title, tf_score, tf_difficulty, tf_bank, tf_resolve, tf_true, tf_version, tf_delete
    </sql>

</mapper>
